.post-header {
  font-size: 0.99em;
  color: #7c7c7c;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 2px;
}
.post-community { color: #1a1a1b; font-weight: bold; }
.post-author, .post-time { color: #878a8c; }
.dot {
  font-size: 1.5em;
  line-height: 0.2em;
  color: #b4b8be;
  margin: 0 3px;
}
