.sr-community-item {
  padding: 12px 0;
  border-bottom: 1px solid #eaeaea;
}

.sr-community-title {
  font-size: 17px;
  font-weight: 500;
}

.sr-community-members {
  font-size: 13px;
  color: #555;
}
